In [2]:
import pandas as pd 
import sqlite3

In [2]:
conn = sqlite3.connect('budget_tracker.db')
cursor = conn.cursor()

In [3]:
df = pd.read_sql_query("SELECT * FROM categories", conn)

In [4]:
df

   categoryid category_name  max_amount
0           1          rent        1200
1           2          rent        1200
2           3      shopping         200
3           4     groceries         300

In [5]:
cur.close()
conn.close()

NameError: name 'cur' is not defined

In [3]:
conn = sqlite3.connect('budget_tracker.db')
cursor = conn.cursor()
deq= '''DELETE FROM categories WHERE category_name = rent'''
cursor.execute(deq)

OperationalError: no such column: rent

In [15]:
df = pd.read_sql_query("SELECT * FROM categories", conn)
df

   categoryid category_name  max_amount
0           1     groceries       300.0
1           2      shopping       100.0
2           3        dining        50.0

In [6]:
deq= '''DROP TABLE categories'''
cursor.execute(deq)

In [7]:
conn = sqlite3.connect('budget_tracker.db')
cursor = conn.cursor()

In [19]:
deq= '''DROP TABLE "shopping
"'''
cursor.execute(deq)

In [21]:
df = pd.read_sql_query("SELECT * FROM categories", conn)
df

   categoryid category_name max_amount
0           1

In [20]:
cq = "CREATE TABLE IF NOT EXISTS categories (categoryid INTEGER PRIMARY KEY NOT NULL, category_name TEXT NOT NULL, max_amount FLOAT NOT NULL);"
cursor.execute(cq)

In [16]:
df = pd.read_sql_query("SELECT * FROM groceries", conn)
df

Empty DataFrame
Columns: [expenseid, expense_name, expense_amount]
Index: []